openapi: 3.0.0
info:
  title: Preset API
  description: >-
    Welcome to the Preset API Collection.


    ## Overview


    The Preset REST API is a powerful feature that provides access to core
    functional aspects of both Preset Manager and Superset.


    The API supports the following areas of Preset:


    *   User and Team Management

    *   Workspace Management

    *   Connection and Data Management

    *   Visualization Management

    *   Permissions Management \[Beta\]
        

    This documentation lists the most relevant endpoints across all of the above
    functional areas of Preset.


    ## Authentication


    ### Generate an API Key


    To generate an API key, from the Preset Manager screen (after log-in), hover
    your cursor over the initials icon and, in the sub-menu, select Manage User
    Settings.


    ![](https://i.ibb.co/D1xHc92/api1.png)


    In the *API Keys* section, select **\+ Generate New API Key**


    ![](https://i.ibb.co/LRWp7HC/api2.png)


    The *Generate a New API Key* panel appears.


    In the **Key Title** field, enter a name for the new API key.


    In the **Key Description** field, enter a brief descripton of the API key.


    Select **Submit**.


    ![](https://i.ibb.co/cC0H4mY/api3.png)


    The **Token** field will automatically populate with a generated token.


    Likewise, the **Secret** field will automatically populate with a secret.


    ![](https://i.ibb.co/8smp5pZ/api5.png)


    *Reminder: Safeguard the Secret**Please take a moment to select the Copy
    icon and then safely store it.*


    When ready, select **OK**.


    ![](https://i.ibb.co/LdNDGNp/api6.png)


    The newly-created API key appears in the *API Keys* section.


    By default, the API key will be activated — to deactivate, toggle the
    **Active** slider to the off position.


    To delete an API key, select the trash bin icon.


    ### Using the Postman Collection


    All requests on this collection inherit the **token** specified on the
    **Preset API** collection.


    To authenticate:


    1.  Click on the **Preset API Collection**.

    2.  Navigate to the **Variables** tab.

    3.  Provide your **API Token** on the `APITokenName` current value.

    4.  Provide the **API Token Secret** on the `APITokenSecret` current value.
        

    These would be used to generate a **JWT Token** that's stored as a **Global
    Variable**.


    There's a script defined on this collection, that is always executed before
    any request. The script basically checks if there's a valid **JWT Token**
    and tries to generate one/refresh it if needed.


    * * *


    ### Manually using the API


    Use the **Get a JWT Token** request to generate a `JWT Token.`
  version: 1.0.0
servers:
  - url: https://api.app.preset.io
  - url: https://manage.app.preset.io
  - url: https://{{workspaceslug}}.{{workspaceregion}}.app.preset.io
  - url: http://{{workspaceslug}}.{{workspaceregion}}.app.preset.io
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
security:
  - bearerAuth: []
tags:
  - name: Authentication
    description: >-
      API to authenticate and get a JWT token to interact with the
      Preset/Superset APIs.
  - name: Preset Manager APIs
    description: >-
      Use Preset Manager APIs to manage your Team, Workspaces, Embedded
      configurations and also Permissions.
  - name: Preset Manager APIs > Teams
    description: APIs to manage your Preset team.
  - name: Preset Manager APIs > Workspaces
    description: APIs to manage your Workspaces.
  - name: Preset Manager APIs > Permissions
    description: |-
      APIs to manage permissions on the Workspace level.

      Note that all Permission APIs require **Team Admin** permission.
  - name: Preset Manager APIs > Embedded
    description: APIs associated with the Embedded functionality.
  - name: Superset APIs (Open Source)
    description: >-
      Superset APIs can be used to interact with assets in your Workspaces. Note
      that Superset APIs are contributed from the Open Source Community, so they
      are subject to change without previous notification. Please keep this in
      mind when working with them.
  - name: Superset APIs (Open Source) > Databases
    description: APIs to manage your database connections.
  - name: Superset APIs (Open Source) > Datasets
    description: APIs to manage your datasets.
  - name: Superset APIs (Open Source) > Charts
    description: APIs to manage Charts on your Workspace.
  - name: Superset APIs (Open Source) > Dashboards
    description: APIs to manage your Dashboards.
  - name: Superset APIs (Open Source) > SQL Lab
  - name: Superset APIs (Open Source) > Annotation Layers
    description: API to manage your Annotation Layers.
  - name: Superset APIs (Open Source) > Alerts & Reports
    description: APIs to manage your Alerts & Reports.
  - name: Superset APIs (Open Source) > Queries
  - name: Superset APIs (Open Source) > Assets
    description: >-
      APIs to export/import an `assets` ZIP file from the Workspace, which
      includes all:


      *   databases.

      *   datasets.

      *   charts.

      *   saved queries.
paths:
  /v1/auth/:
    post:
      tags:
        - Authentication
      summary: Get a JWT Token
      description: >-
        To interact with the Preset API, it's required to generate an API Key,
        that's used to generate a JWT token.


        1. Generate an API Key on the Preset Manager UI. Refer to [our
        documentation](https://docs.preset.io/docs/the-preset-api).

        2. Copy the API `token` and `secret`.
            

        Replace in the body:


        - `{{APIToken}}` with the `token` from the UI.

        - `{{APISecret}}` with the `secret` from the UI.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                name: '{{APIToken}}'
                secret: '{{APISecret}}'
      security: []
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /v1/teams/:
    get:
      tags:
        - Preset Manager APIs > Teams
      summary: Get Preset Teams
      description: Retrieves all Preset teams the user has access to.
      parameters:
        - name: Authorization
          in: header
          schema:
            type: string
          example: Bearer {{JWTToken}}
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /v1/teams/{TeamSlug}:
    put:
      tags:
        - Preset Manager APIs > Teams
      summary: Update Team Title
      description: >-
        ###### _Requires admin permission._


        Updates the Team title.


        Replace in the URL:


        - `{{TeamSlug}}` with the `name` retrieved through the API (using the
        **Get Preset Teams** endpoint). Alternatively, access the team
        administration through the UI, and get the `{{TeamSlug}}` from the URL
        -> `https://manage.app.preset.io/app/teams/{{TeamSlug}}/members`.
            

        Replace in the Body:


        - `{{NewTeamTitle}}` by the new title you want to set.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                title: '{{NewTeamTitle}}'
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: Authorization
          in: header
          schema:
            type: string
          example: Bearer {{JWTToken}}
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: TeamSlug
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /v1/teams/{TeamSlug}/memberships:
    get:
      tags:
        - Preset Manager APIs > Teams
      summary: Get Team Members
      description: >-
        ###### _Requires admin permission._


        Gets all members of the Team.


        Replace in the URL:


        - `{{TeamSlug}}` with the `name` retrieved through the API (using the
        **Get Preset Teams** endpoint). Alternatively, access the team
        administration through the UI, and get the `{{TeamSlug}}` from the URL
        -> `https://manage.app.preset.io/app/teams/{{TeamSlug}}/members`.
      parameters:
        - name: Authorization
          in: header
          schema:
            type: string
          example: Bearer {{JWTToken}}
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: TeamSlug
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /v1/teams/{TeamSlug}/memberships/{UserID}:
    patch:
      tags:
        - Preset Manager APIs > Teams
      summary: Change User Role
      description: >-
        ###### _Requires admin permission._


        Changes a user's Team role.


        Replace in the URL:


        - `{{TeamSlug}}` with the `name` retrieved through the API (using the
        **Get Preset Teams** endpoint). Alternatively, access the team
        administration through the UI, and get the `{{TeamSlug}}` from the URL
        -> `https://manage.app.preset.io/app/teams/{{TeamSlug}}/members`.

        - `{{UserID}}`with the `id` retrieved using the **Get Team Members**
        endpoint.
            

        Replace in the Body:


        - `{{RoleID}}` with the desired role:
            - Use **`2`** for **User**.
            - Use **`1`** for **Admin**.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: "{\r\n    \"team_role_id\": {{RoleID}}\r\n}"
      parameters:
        - name: Authorization
          in: header
          schema:
            type: string
          example: Bearer {{JWTToken}}
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: TeamSlug
          in: path
          schema:
            type: string
          required: true
        - name: UserID
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    delete:
      tags:
        - Preset Manager APIs > Teams
      summary: Delete a Team Member
      description: >-
        ###### _Requires admin permission._


        Deletes a Team member.


        Replace in the URL:


        - `{{TeamSlug}}` with the `name` retrieved through the API (using the
        **Get Preset Teams** endpoint). Alternatively, access the team
        administration through the UI, and get the `{{TeamSlug}}` from the URL
        -> `https://manage.app.preset.io/app/teams/{{TeamSlug}}/members`.

        - `{{UserID}}`with the `id` retrieved using the **Get Team Members**
        endpoint.
      parameters:
        - name: Authorization
          in: header
          schema:
            type: string
          example: Bearer {{JWTToken}}
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: TeamSlug
          in: path
          schema:
            type: string
          required: true
        - name: UserID
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /v1/teams/{TeamSlug}/invites:
    post:
      tags:
        - Preset Manager APIs > Teams
      summary: Create a Team Invite
      description: >-
        ###### *Requires admin permission.*


        Creates a team invitation, sent via email.


        Replace in the URL:


        *   `{{TeamSlug}}` with the `name` retrieved through the API (using the
        **Get Preset Teams** endpoint). Alternatively, access the team
        administration through the UI, and get the `{{TeamSlug}}` from the URL
        -> `https://manage.app.preset.io/app/teams/{{TeamSlug}}/members`.
            

        Replace in the Body:


        *   `{{RoleID}}` with the desired role:
            *   Use **`2`** for **User**.
            *   Use **`1`** for **Admin**.
        *   `{{Email}}` with the user's email address.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: "{\r\n    \"team_role_id\": {{RoleID}},\r\n    \"email\": \"{{Email}}\"\r\n}"
      parameters:
        - name: Authorization
          in: header
          schema:
            type: string
          example: Bearer {{JWTToken}}
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: TeamSlug
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    get:
      tags:
        - Preset Manager APIs > Teams
      summary: Get Pending Team Invites
      description: >-
        ###### *Requires admin permission.*


        Gets all pending team invitations.


        Replace in the URL:


        *   `{{TeamSlug}}` with the `name` retrieved through the API (using the
        **Get Preset Teams** endpoint). Alternatively, access the team
        administration through the UI, and get the `{{TeamSlug}}` from the URL
        -> `https://manage.app.preset.io/app/teams/{{TeamSlug}}/members`.
      parameters:
        - name: Authorization
          in: header
          schema:
            type: string
          example: Bearer {{JWTToken}}
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: TeamSlug
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /v1/teams/{TeamSlug}/invites/many:
    post:
      tags:
        - Preset Manager APIs > Teams
      summary: Create Multiple Team Invites
      description: >-
        ###### *Requires admin permission.*


        Creates multiple team invitations.


        Replace in the URL:


        *   `{{TeamSlug}}` with the `name` retrieved through the API (using the
        **Get Preset Teams** endpoint). Alternatively, access the team
        administration through the UI, and get the `{{TeamSlug}}` from the URL
        -> `https://manage.app.preset.io/app/teams/{{TeamSlug}}/members`.
            

        Replace in the body:


        *   `{{RoleID}}` with the desired role:
            *   Use **`2`** for **User**.
            *   Use **`1`** for **Admin**.
        *   `{{Email}}, {{Email2}}...` with the users' email addresses.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: "{\r\n    \"invites\": [\r\n        {\r\n            \"team_role_id\": {{RoleID}},\r\n            \"email\": \"{{Email}}\"\r\n        },\r\n        {\r\n            \"team_role_id\": {{RoleID}},\r\n            \"email\": \"{{Email2}}\"\r\n        }\r\n    ]\r\n}"
      parameters:
        - name: Authorization
          in: header
          schema:
            type: string
          example: Bearer {{JWTToken}}
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: TeamSlug
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /v1/teams/{TeamSlug}/invites/resend/{InviteID}:
    post:
      tags:
        - Preset Manager APIs > Teams
      summary: Resend Invite
      description: >-
        Resends a pending Team invitation.


        Replace in the URL:


        *   `{{TeamSlug}}` with the `name` retrieved through the API (using the
        **Get Preset Teams** endpoint). Alternatively, access the team
        administration through the UI, and get the `{{TeamSlug}}` from the URL
        -> `https://manage.app.preset.io/app/teams/{{TeamSlug}}/members`
            

        *   `{{InviteID}}`with the `id` retrieved through the API using the
        **Get Pending Team Invites** endpoint.
      requestBody:
        content: {}
      parameters:
        - name: Authorization
          in: header
          schema:
            type: string
          example: Bearer {{JWTToken}}
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: TeamSlug
          in: path
          schema:
            type: string
          required: true
        - name: InviteID
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /v1/teams/{TeamSlug}/invites/{InviteID}:
    delete:
      tags:
        - Preset Manager APIs > Teams
      summary: Delete Pending Invite
      description: >-
        ###### *Requires admin permission.*


        Deletes a Team invitation.


        Replace in the URL:


        *   `{{TeamSlug}}` with the `name` retrieved through the API (using the
        **Get Preset Teams** endpoint). Alternatively, access the team
        administration through the UI, and get the `{{TeamSlug}}` from the URL
        -> `https://manage.app.preset.io/app/teams/{{TeamSlug}}/members`.
            

        *   `{{InviteID}}`with the `id` retrieved through the API using the
        **Get Pending Team Invites** endpoint.
      parameters:
        - name: Authorization
          in: header
          schema:
            type: string
          example: Bearer {{JWTToken}}
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: TeamSlug
          in: path
          schema:
            type: string
          required: true
        - name: InviteID
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /v1/teams/{TeamSlug}/workspaces:
    get:
      tags:
        - Preset Manager APIs > Workspaces
      summary: Get Workspaces from a Team
      description: >-
        Gets all Workspaces from the Team.


        Replace in the URL:


        *   `{{TeamSlug}}` with the `name` retrieved through the API (using the
        **Get Preset Teams** endpoint). Alternatively, access the team
        administration through the UI, and get the `{{TeamSlug}}` from the URL
        -> `https://manage.app.preset.io/app/teams/{{TeamSlug}}/members`.
      parameters:
        - name: Authorization
          in: header
          schema:
            type: string
          example: Bearer {{JWTToken}}
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: TeamSlug
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    post:
      tags:
        - Preset Manager APIs > Workspaces
      summary: Create Workspace for a Team
      description: >-
        ###### *Requires admin permission.*


        Creates a new Workspace on the Team.


        Replace in the URL:


        *   `{{TeamSlug}}` with the `name` retrieved through the API (using the
        **Get Preset Teams** endpoint). Alternatively, access the team
        administration through the UI, and get the `{{TeamSlug}}` from the URL
        -> `https://manage.app.preset.io/app/teams/{{TeamSlug}}/members`.
            

        Replace in the Body:


        *   `{{NewWorkspaceTitle}}` by the title of the New Workspace you want
        to create.

        *   `{{NewWorkspaceRegion}}` with the region that the Workspace should
        be created - refer to below table:
            

        | Location | `NewWorkspaceRegion` |

        | --- | --- |

        | **US East Cost** | `us-east-1` |

        | **US West Coast** | `us-west-2` |

        | **Europe** | `eu-north-1` |

        | **Asia-Pacific** | `ap-northeast-1` |
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                title: '{{NewWorkspaceTitle}}'
                region: '{{NewWorkspaceRegion}}'
      parameters:
        - name: Authorization
          in: header
          schema:
            type: string
          example: Bearer {{JWTToken}}
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: TeamSlug
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /v1/teams/{TeamSlug}/workspaces/{WorkspaceID}/memberships:
    get:
      tags:
        - Preset Manager APIs > Workspaces
      summary: Get Workspace Users and Roles
      description: >-
        Gets Users and their Workspace Roles from the Workspace.


        Replace in the URL:


        *   `{{TeamSlug}}` with the `name` retrieved through the API (using the
        **Get Preset Teams** endpoint). Alternatively, access the team
        administration through the UI, and get the `{{TeamSlug}}` from the URL
        -> `https://manage.app.preset.io/app/teams/{{TeamSlug}}/members`.
            

        *   `{{WorkspaceID}}` with the `id` retrieved through the API with the
        **Get Workspaces from a Team** endpoint.
      parameters:
        - name: Authorization
          in: header
          schema:
            type: string
          example: Bearer {{JWTToken}}
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: TeamSlug
          in: path
          schema:
            type: string
          required: true
        - name: WorkspaceID
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /v1/teams/{TeamSlug}/workspaces/{WorkspaceID}/membership:
    put:
      tags:
        - Preset Manager APIs > Workspaces
      summary: Change Workspace Role
      description: >-
        Changes a user's Workspace Role.


        Replace in the URL:


        - `{{TeamSlug}}` with the `name` retrieved through the API (using the
        **Get Preset Teams** endpoint). Alternatively, access the team
        administration through the UI, and get the `{{TeamSlug}}` from the URL
        -> `https://manage.app.preset.io/app/teams/{{TeamSlug}}/members`.
            

        - `{{WorkspaceID}}` with the `id` retrieved through the API with the
        **Get Workspaces from a Team** endpoint.
            

        Replace in the body:


        - `{{UserID}}`with the `id` retrieved using the **Get Team Members**
        endpoint.
            

        - `{{RoleIdentifier}}`with one of the the `role_identifier` below,
        wrapped in double quotes:
            

        | **Workspace Role** | **role_identifier** |

        | --- | --- |

        | Workspace Admin | "Admin" |

        | Primary Contributor | "PresetAlpha" |

        | Secondary Contributor | "PresetBeta" |

        | Limited Contributor | "PresetGamma" |

        | Viewer | "PresetReportsOnly" |

        | Dashboard Viewer | "PresetDashboardsOnly" |

        | No Access | "PresetNoAccess" |


        Each Role Identifier corresponds to a specific Workspace Role. As a
        reminder, the access restrictions for each Workspace Role can be found
        [in our
        documentation](https://docs.preset.io/docs/data-access-roles-at-preset).
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: "{\r\n    \"role_identifier\": {{RoleIdentifier}}, \r\n    \"user_id\": {{UserID}}\r\n}"
      parameters:
        - name: Authorization
          in: header
          schema:
            type: string
          example: Bearer {{JWTToken}}
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: TeamSlug
          in: path
          schema:
            type: string
          required: true
        - name: WorkspaceID
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /v1/teams/{TeamSlug}/permissions/resources:
    get:
      tags:
        - Preset Manager APIs > Permissions
      summary: Get Resources
      description: >-
        ###### _Requires Team Admin permission._


        List all resources from a team.


        Replace in the URL:


        - `{{TeamSlug}}` with the `name` retrieved through the API (using the
        **Get Preset Teams** endpoint). Alternatively, access the team
        administration through the UI, and get the `{{TeamSlug}}` from the URL
        -> `https://manage.app.preset.io/app/teams/{{TeamSlug}}/members`.
            

        Note that the query parameters are optional and very useful to retrieve
        the desired data:


        - `workspace_name` can be used to filter for permissions only applied to
        a particular Workspace.

        - `resource_type` can be used to filter for:
            - `database` to list databases
            - `database_schema` to list schemas
            - `datasource` to list DAR permission reference of a dataset (not the dataset itself)
            - `dataset` to list datasets
            - `data_access_role` to list DARs
            - `row_level_security` to list RLSs
      parameters:
        - name: Authorization
          in: header
          schema:
            type: string
          example: Bearer {{JWTToken}}
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: TeamSlug
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /v1/teams/{TeamSlug}/permissions:
    get:
      tags:
        - Preset Manager APIs > Permissions
      summary: Get Permissions
      description: "###### _Requires Team Admin permission._\n\nList all permissions from a team.\n\nReplace in the URL:\n\n- `{{TeamSlug}}`\_with the\_`name`\_retrieved through the API (using the\_**Get Preset Teams**\_endpoint). Alternatively, access the team administration through the UI, and get the\_`{{TeamSlug}}`\_from the URL ->\_`https://manage.app.preset.io/app/teams/{{TeamSlug}}/members`.\n    \n\nNote that the query parameters are optional and very useful to retrieve the desired data:\n\n- `workspace_name` can be used to filter for permissions only applied to a particular Workspace.\n- `permission_type` can be used to filter for only `data_access_role`, or `row_level_security`.\n- `grantee_identifier` can be used to filter for all permissions included in a DAR (`dar:{{DAR NAME}}`), or all permissions applied to a user (`username`)."
      parameters:
        - name: Authorization
          in: header
          schema:
            type: string
          example: Bearer {{JWTToken}}
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: TeamSlug
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /v1/teams/{TeamSlug}/permissions/:
    post:
      tags:
        - Preset Manager APIs > Permissions
      summary: Create Row Level Security
      description: >-
        ###### _Requires Team Admin permission._


        Creates a Row Level Security (RLS).


        Replace in the URL:


        - `{{TeamSlug}}` with the `name` retrieved through the API (using the
        **Get Preset Teams** endpoint). Alternatively, access the team
        administration through the UI, and get the `{{TeamSlug}}` from the URL
        -> `https://manage.app.preset.io/app/teams/{{TeamSlug}}/members`.
            

        Replace in the body:


        - `{{DARName1}}` with the DAR name you want to associated with this RLS
        (also for `{{DARName2}}` and so on). You can get a list of availabe DARs
        using the **Get Permissions** endpoint. Note that you would use the
        **display name** (without `dar:`).

        - `{{RLSName}}` with the name of your RLS.

        - `{{RLSClause}}` with the SQL syntax for the filter to be applied.

        - `{{RLSFilterType}}` with `Regular` or `Base`.

        - `{{RLSGroupKey}}` with the desired group key.

        - `{{ResourceName}}` with the datasource name. You can get a list of
        available options using the **Get Resources** endpoint (filtering for
        `&resource_type=datasource`).

        - `{{WorkspaceSlug}}` with the `name` retrieved through the API (using
        the **Get Workspaces from a Team** endpoint).
            

        Please note:


        - _**Grantee list for RLS permissions create/update is limited to 100
        users in total (API will respond with 400 if over the limit)**_
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                type: row_level_security
                grantees:
                  - type: ROLE
                    identifier: '{{DARName1}}'
                  - type: ROLE
                    identifier: '{{DARName2}}'
                acl:
                  rls:{{RLSName}}:
                    config:
                      clause: '{{RLSClause}}'
                      filter_type: '{{RLSFilterType}}'
                      group_key: '{{RLSGroupKey}}'
                    grants:
                      - resource: '{{ResourceName}}'
                        action: filter
                workspace_name: '{{WorkspaceSlug}}'
      parameters:
        - name: Authorization
          in: header
          schema:
            type: string
          example: Bearer {{JWTToken}}
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: TeamSlug
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /v1/teams/{TeamSlug}/permissions/{PermissionName}:
    patch:
      tags:
        - Preset Manager APIs > Permissions
      summary: Update Row Level Security
      description: >-
        ###### _Requires Team Admin permission._


        Updates an existing Row Level Security (RLS).


        Replace in the URL:


        - `{{TeamSlug}}` with the `name` retrieved through the API (using the
        **Get Preset Teams** endpoint). Alternatively, access the team
        administration through the UI, and get the `{{TeamSlug}}` from the URL
        -> `https://manage.app.preset.io/app/teams/{{TeamSlug}}/members`.

        - `{{PermissionName}}` with the `name` retrieved via the **Get
        Permissions** API.
            

        Note that the payload has to be complete - you can't remove the
        `grantees`.


        Replace in the body:


        - `{{DARName1}}` with the DAR name you want to associated with this RLS
        (also for `{{DARName2}}` and so on). You can get a list of availabe DARs
        using the **Get Permissions** endpoint. Note that you would use the
        **display name** (without `dar:`).

        - `{{RLSName}}` with the name of your RLS.

        - `{{RLSClause}}` with the SQL syntax for the filter to be applied.

        - `{{RLSFilterType}}` with `Regular` or `Base`.

        - `{{RLSGroupKey}}` with the desired group key.

        - `{{ResourceName}}` with the datasource name. You can get a list of
        available options using the **Get Resources** endpoint (filtering for
        `&resource_type=datasource`).

        - `{{WorkspaceSlug}}` with the `name` retrieved through the API (using
        the **Get Workspaces from a Team** endpoint).
            

        _Please note:_


        - _**Grantee list for RLS permissions create/update is limited to 100
        users in total (API will respond with 400 if over the limit)**_
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                type: row_level_security
                grantees:
                  - type: ROLE
                    identifier: '{{DARName1}}'
                  - type: ROLE
                    identifier: '{{DARName2}}'
                acl:
                  rls:{{RLSName}}:
                    config:
                      clause: '{{RLSClause}}'
                      filter_type: '{{RLSFilterType}}'
                      group_key: '{{RLSGroupKey}}'
                    grants:
                      - resource: '{{ResourceName}}'
                        action: filter
                workspace_name: '{{WorkspaceSlug}}'
      parameters:
        - name: Authorization
          in: header
          schema:
            type: string
          example: Bearer {{JWTToken}}
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: TeamSlug
          in: path
          schema:
            type: string
          required: true
        - name: PermissionName
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    delete:
      tags:
        - Preset Manager APIs > Permissions
      summary: Delete Row Level Security
      description: "###### _Requires Team Admin permission._\n\nDeletes a Row Level Security (RLS).\n\nReplace in the URL:\n\n- `{{TeamSlug}}`\_with the\_`name`\_retrieved through the API (using the\_**Get Preset Teams**\_endpoint). Alternatively, access the team administration through the UI, and get the\_`{{TeamSlug}}`\_from the URL ->\_`https://manage.app.preset.io/app/teams/{{TeamSlug}}/members`.\n- `{{PermissionName}}`\_with the\_`name`\_retrieved via the\_**Get Permissions**\_API."
      parameters:
        - name: Authorization
          in: header
          schema:
            type: string
          example: Bearer {{JWTToken}}
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: TeamSlug
          in: path
          schema:
            type: string
          required: true
        - name: PermissionName
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /v1/teams/{TeamSlug}/permissions/{PermissionName}/grantees:
    post:
      tags:
        - Preset Manager APIs > Permissions
      summary: Add Grantees to existing Permission
      description: >-
        ###### _Requires Team Admin permission._


        Adds Grantee(s) to an existing Permission (DAR or RLS).


        Replace in the URL:


        - `{{TeamSlug}}` with the `name` retrieved through the API (using the
        **Get Preset Teams** endpoint). Alternatively, access the team
        administration through the UI, and get the `{{TeamSlug}}` from the URL
        -> `https://manage.app.preset.io/app/teams/{{TeamSlug}}/members`.

        - `{{PermissionName}}` with the `name` retrieved via the **Get
        Permissions** API.
            

        Replace in the body:


        - `{{GranteeType}}` with:
            - `USER` to add existing user to DARs.
            - `INVITEE` to add pending user to DARs
            - `ROLE` to add DAR to RLS.
        - `{{GranteeIdentifier}}` with:
            - `username` when adding users to DAR. You can get a list of `usernames` with the **Get Team Members** API. For pending users you can use their email.
            - `DAR Name` when adding DAR to RLS. You can get a list of availabe DARs using the **Get Permissions** endpoint. Note that you would use the **display name** (without `dar:`).

        Please note:


        - _**Max number of grantees to be appended per request is 100.**_

        - _**Duplicate grantees will be ignored.**_
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                grantees:
                  - type: '{{GranteeType}}'
                    identifier: '{{GranteeIdentifier}}'
      parameters:
        - name: Authorization
          in: header
          schema:
            type: string
          example: Bearer {{JWTToken}}
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: TeamSlug
          in: path
          schema:
            type: string
          required: true
        - name: PermissionName
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    delete:
      tags:
        - Preset Manager APIs > Permissions
      summary: Delete Grantee from existing Permission
      description: >-
        ###### _Requires Team Admin permission._


        Removes Grantee(s) from an existing Permission (DAR or RLS).


        Replace in the URL:


        - `{{TeamSlug}}` with the `name` retrieved through the API (using the
        **Get Preset Teams** endpoint). Alternatively, access the team
        administration through the UI, and get the `{{TeamSlug}}` from the URL
        -> `https://manage.app.preset.io/app/teams/{{TeamSlug}}/members`.

        - `{{PermissionName}}` with the `name` retrieved via the **Get
        Permissions** API.
            

        Replace in the body:


        - `{{GranteeType}}` with:
            - `USER` to add users to DARs.
            - `ROLE` to add DAR to RLS.
        - `{{GranteeIdentifier}}` with:
            - `username` when adding users to DAR. You can get a list of `usernames` with the **Get Team Members** API.
            - `DAR Name` when adding DAR to RLS. You can get a list of availabe DARs using the **Get Permissions** endpoint. Note that you would use the **display name** (without `dar:`).
      parameters:
        - name: Authorization
          in: header
          schema:
            type: string
          example: Bearer {{JWTToken}}
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: referer
          in: header
          schema:
            type: string
          example: https://{{WorkspaceSlug}}.{{WorkspaceRegion}}.app.preset.io/
        - name: TeamSlug
          in: path
          schema:
            type: string
          required: true
        - name: PermissionName
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/teams/{TeamSlug}/workspaces/{WorkspaceSlug}/guest-token/:
    post:
      tags:
        - Preset Manager APIs > Embedded
      summary: Create a new Guest Token
      description: >-
        Creates a new Guest Token to be used with Embedded.


        Replace in the URL:


        - `{{WorkspaceSlug}}` with the `name` retrieved through the API (using
        the **Get Workspaces from a Team** endpoint).

        - `{{TeamSlug}}` with the `name` retrieved through the API (using the
        **Get Preset Teams** endpoint). Alternatively, access the team
        administration through the UI, and get the `{{TeamSlug}}` from the URL
        -> `https://manage.app.preset.io/app/teams/{{TeamSlug}}/members`.
            

        For instructions on how to populate the body, refer to [our
        documentation](https://preset-io.github.io/embedded-beta-docs/v1).
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                user:
                  username: '{{username}}'
                  first_name: '{{firstName}}'
                  last_name: '{{lastName}}'
                resources:
                  - type: dashboard
                    id: '{{EmbeddedDashboardID}}'
                rls: []
      parameters:
        - name: Authorization
          in: header
          schema:
            type: string
          example: Bearer {{JWTToken}}
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: TeamSlug
          in: path
          schema:
            type: string
          required: true
        - name: WorkspaceSlug
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/database:
    get:
      tags:
        - Superset APIs (Open Source) > Databases
      summary: Get all Database Connections from a Workspace
      description: >-
        Gets the databases connected to your Workspace.


        Replace in the URL:


        - `{{WorkspaceSlug}}` with the `name` retrieved through the API (using
        the **Get Workspaces from a Team** endpoint).

        - `{{WorkspaceRegion}}` corresponding to the `region` retrieved from the
        **Get Workspaces from a Team** endpoint. Refer to below table:
            

        | **`region`** | **`WorkspaceRegion`** |

        | --- | --- |

        | us-east-1 | `us2a` |

        | us-west-2 | `us1a` |

        | eu-north-1 | `eu5a` |

        | ap-northeast-1 | `ap1a` |


        Alternatively, access the Workspace through the UI, and get the
        `{{WorkspaceSlug}}` and `{{WorkspaceRegion}}` from the URL ->
        `https://{{WorkspaceSlug}}.{{Region}}.preset.io/superset/welcome/`.


        Note that this endpoint returns 20 results by default. You can return up
        to 100 results at a time and use pagination by adding the following
        query parameters:


        ```

        ?q=(page_size:{{PageSize}},page:{{Page}})


        ```


        Replace:


        - `{{PageSize}}` with the desired size (min `1` max `100`).

        - `{{Page}}` with the page number (useful when the total count >
        `{{PageSize}}` - min `0`).
      parameters:
        - name: Authorization
          in: header
          schema:
            type: string
          example: Bearer {{JWTToken}}
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    post:
      tags:
        - Superset APIs (Open Source) > Databases
      summary: Create a Database Connection
      description: >-
        Creates a new database connection on the Workspace.


        Replace in the URL and on the `Referer` header:


        - `{{WorkspaceSlug}}` with the `name` retrieved through the API (using
        the **Get Workspaces from a Team** endpoint).

        - `{{WorkspaceRegion}}` corresponding to the `region` retrieved from the
        **Get Workspaces from a Team** endpoint. Refer to below table:
            

        | **`region`** | **`WorkspaceRegion`** |

        | --- | --- |

        | us-east-1 | `us2a` |

        | us-west-2 | `us1a` |

        | eu-north-1 | `eu5a` |

        | ap-northeast-1 | `ap1a` |


        Alternatively, access the Workspace through the UI, and get the
        `{{WorkspaceSlug}}` and `{{WorkspaceRegion}}` from the URL ->
        `https://{{WorkspaceSlug}}.{{Region}}.preset.io/superset/welcome/`.


        Replace on the body:


        - `boolean` with either `true` or `false` to enable/disable the
        connection settings.

        - `{{DBConnectionName}}` with the desired DB connection display name.

        - `{{SQLAlchemyURI}}` with the [connection
        string](https://docs.preset.io/docs/uri-connection-strings) to the
        database.

        - `{{ExtraConfiguration}}` _(optional)_ with any addifional
        configuration (like **Engine Parameters**). For example:
            

        ```

        {\"engine_params\": {\"connect_args\": {\"http_path\":
        \"/sql/1.0/warehouses/********\"}}}


        ```


        **Note:** You need to escape quotes (`"`) and other special characters
        using `\` on all body fields.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                allow_csv_upload: boolean
                allow_ctas: boolean
                allow_cvas: boolean
                allow_dml: boolean
                allow_multi_schema_metadata_fetch: boolean
                allow_run_async: boolean
                cache_timeout: 0
                database_name: '{{DBConnectionName}}'
                expose_in_sqllab: boolean
                extra: '{{ExtraConfiguration}}'
                impersonate_user: boolean
                sqlalchemy_uri: '{{SQLAlchemyURI}}'
      parameters:
        - name: Authorization
          in: header
          schema:
            type: string
          example: Bearer {{JWTToken}}
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: Referer
          in: header
          schema:
            type: string
          example: https://{{WorkspaceSlug}}.{{WorkspaceRegion}}.app.preset.io/
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/database/{DatabaseID}:
    get:
      tags:
        - Superset APIs (Open Source) > Databases
      summary: Get a Database Connection
      description: >-
        Get a specific Database Connection from a Workspace.


        Replace in the URL:


        - `{{WorkspaceSlug}}` with the `name` retrieved through the API (using
        the **Get Workspaces from a Team** endpoint).

        - `{{WorkspaceRegion}}` corresponding to the `region` retrieved from the
        **Get Workspaces from a Team** endpoint. Refer to below table:
            

        | **`region`** | **`WorkspaceRegion`** |

        | --- | --- |

        | us-east-1 | `us2a` |

        | us-west-2 | `us1a` |

        | eu-north-1 | `eu5a` |

        | ap-northeast-1 | `ap1a` |


        Alternatively, access the Workspace through the UI, and get the
        `{{WorkspaceSlug}}` and `{{WorkspaceRegion}}` from the URL ->
        `https://{{WorkspaceSlug}}.{{Region}}.preset.io/superset/welcome/`.


        - `{{DatabaseID}}` with the Database Connection `id` retrieved from the
        **Get All Database Connections from a Workspace** endpoint.
      parameters:
        - name: Authorization
          in: header
          schema:
            type: string
          example: Bearer {{JWTToken}}
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: DatabaseID
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    put:
      tags:
        - Superset APIs (Open Source) > Databases
      summary: Update a Database Connection
      description: >-
        Updates an existing Database Connection.


        Replace in the URL and on the `Referer` header:


        - `{{WorkspaceSlug}}` with the `name` retrieved through the API (using
        the **Get Workspaces from a Team** endpoint).
            
        - `{{WorkspaceRegion}}` corresponding to the `region` retrieved from the
        **Get Workspaces from a Team** endpoint. Refer to below table:
            

        | **`region`** | **`WorkspaceRegion`** |

        | --- | --- |

        | us-east-1 | `us2a` |

        | us-west-2 | `us1a` |

        | eu-north-1 | `eu5a` |

        | ap-northeast-1 | `ap1a` |


        Alternatively, access the Workspace through the UI, and get the
        `{{WorkspaceSlug}}` and `{{WorkspaceRegion}}` from the URL ->
        `https://{{WorkspaceSlug}}.{{Region}}.preset.io/superset/welcome/`.


        - `{{DatabaseID}}` with the Database Connection `id` retrieved from the
        **Get All Database Connections from a Workspace** endpoint.
            

        In the body:


        Include the keys you would like to update. Refer to the **Create a
        Database Connection** payload to check supported values.
      requestBody:
        content:
          '*/*':
            schema:
              type: string
              example: >-
                "{\n    //include the keys you would like to modify\n   
                \"database_name\": \"{{DBConnectionName}}\"\n}"
      parameters:
        - name: Authorization
          in: header
          schema:
            type: string
          example: Bearer {{JWTToken}}
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: DatabaseID
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/database/{DatabaseID}/connection:
    get:
      tags:
        - Superset APIs (Open Source) > Databases
      summary: Get a Database Connection Parameters
      description: >-
        ###### _Requires admin permission._


        Get connection parameters from a specific Database Connection from a
        Workspace.


        Replace in the URL:


        - `{{WorkspaceSlug}}` with the `name` retrieved through the API (using
        the **Get Workspaces from a Team** endpoint).

        - `{{WorkspaceRegion}}` corresponding to the `region` retrieved from the
        **Get Workspaces from a Team** endpoint. Refer to below table:
            

        | **`region`** | **`WorkspaceRegion`** |

        | --- | --- |

        | us-east-1 | `us2a` |

        | us-west-2 | `us1a` |

        | eu-north-1 | `eu5a` |

        | ap-northeast-1 | `ap1a` |


        Alternatively, access the Workspace through the UI, and get the
        `{{WorkspaceSlug}}` and `{{WorkspaceRegion}}` from the URL ->
        `https://{{WorkspaceSlug}}.{{Region}}.preset.io/superset/welcome/`.


        - `{{DatabaseID}}` with the Database Connection `id` retrieved from the
        **Get All Database Connections from a Workspace** endpoint.
      parameters:
        - name: Authorization
          in: header
          schema:
            type: string
          example: Bearer {{JWTToken}}
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: DatabaseID
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/database/:
    post:
      tags:
        - Superset APIs (Open Source) > Databases
      summary: Create a Database Connection using SSH
      operationId: createDatabaseUsingSSH
      description: >-
        Creates a new database connection on the Workspace using SSH.


        Replace in the URL and on the `Referer` header:


        - `{{WorkspaceSlug}}` with the `name` retrieved through the API (using
        the **Get Workspaces from a Team** endpoint).

        - `{{WorkspaceRegion}}` corresponding to the `region` retrieved from the
        **Get Workspaces from a Team** endpoint. Refer to below table:
            

        | **`region`** | **`WorkspaceRegion`** |

        | --- | --- |

        | us-east-1 | `us2a` |

        | us-west-2 | `us1a` |

        | eu-north-1 | `eu5a` |

        | ap-northeast-1 | `ap1a` |


        Alternatively, access the Workspace through the UI, and get the
        `{{WorkspaceSlug}}` and `{{WorkspaceRegion}}` from the URL ->
        `https://{{WorkspaceSlug}}.{{Region}}.preset.io/superset/welcome/`.


        Replace on the body:


        - `{{DBConnectionName}}` with the desired DB connection display name.

        - `{{SQLAlchemyURI}}` with the [connection
        string](https://docs.preset.io/docs/uri-connection-strings) to the
        database.

        - For the SSH configuration:
            - Use either a `username` and `password`, or `username`, `private_key` and `private_key_password` combination to authenticate to the SSH server, removing the un-used fields.
            - Replace `{{SSHServerAddress}}` with the SSH server host address.
        - `boolean` with either `true` or `false` to enable/disable the
        connection settings.

        - `{{ExtraConfiguration}}` _(optional)_ with any addifional
        configuration (like **Engine Parameters**). For example:
            

        ```

        {\"engine_params\": {\"connect_args\": {\"http_path\":
        \"/sql/1.0/warehouses/********\"}}}


        ```


        **Note:** You need to escape quotes (`"`) and other special characters
        using `\` on all body fields.
      requestBody:
        content:
          '*/*':
            schema:
              type: string
              example: >-
                "{\n    \"database_name\": \"{{DBConnectionName}}\",\n   
                \"configuration_method\": \"sqlalchemy_form\",\n   
                \"sqlalchemy_uri\": \"{{SQLAlchemyURI}}\",\n    \"ssh_tunnel\":
                {\n        \"username\": \"{{SSHUsername}}\",\n       
                \"password\": \"{{SSHServerPassword}}\",\n       
                \"private_key\": \"{{PrivateKey}}\",\n       
                \"private_key_password\": \"{{PrivateKeyPassword}}\",\n       
                \"server_port\": 22,\n        \"server_address\":
                \"{{SSHServerAddress}}\"\n    },\n    \"allow_csv_upload\":
                \"boolean\",\n    \"allow_ctas\": \"boolean\",\n   
                \"allow_cvas\": \"boolean\",\n    \"allow_dml\":
                \"boolean\",\n    \"allow_multi_schema_metadata_fetch\":
                \"boolean\",\n    \"allow_run_async\": \"boolean\",\n   
                \"cache_timeout\": 0,\n    \"expose_in_sqllab\":
                \"boolean\",\n    \"impersonate_user\": \"boolean\",\n   
                \"extra\": \"{{ExtraConfiguration}}\"\n}"
      parameters:
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: Referer
          in: header
          schema:
            type: string
          example: https://{{WorkspaceSlug}}.{{WorkspaceRegion}}.app-dev.preset.io/
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/database/export:
    get:
      tags:
        - Superset APIs (Open Source) > Databases
      summary: Export Database Connections
      description: >-
        Exports Database Connections from the Workspace.


        Replace in the URL:


        *   `{{WorkspaceSlug}}` with the `name` retrieved through the API (using
        the **Get Workspaces from a Team** endpoint).

        *   `{{WorkspaceRegion}}` corresponding to the `region` retrieved from
        the **Get Workspaces from a Team** endpoint. Refer to below table:
            

        | **`region`** | **`WorkspaceRegion`** |

        | --- | --- |

        | us-east-1 | `us2a` |

        | us-west-2 | `us1a` |

        | eu-north-1 | `eu5a` |

        | ap-northeast-1 | `ap1a` |


        Alternatively, access the Workspace through the UI, and get the
        `{{WorkspaceSlug}}` and `{{WorkspaceRegion}}` from the URL ->
        `https://{{WorkspaceSlug}}.{{Region}}.preset.io/superset/welcome/`.


        *   `{{DatabaseIDs}` with comma separated DB `ids` retrieved from the
        **Get all Database Connections from a Workspace** endpoint.
            

        ***Tip:*** If used in Postman, select `Save Response` and `Save to a
        File` to get the zip export.
      parameters:
        - name: Authorization
          in: header
          schema:
            type: string
          example: '{{JWTToken}}'
        - name: Accept
          in: header
          schema:
            type: string
          example: application/zip
        - name: q
          in: query
          schema:
            type: string
          description: Comma separated list of database connection IDs.
          example: '!({{DatabaseIDs}})'
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/database/import/:
    post:
      tags:
        - Superset APIs (Open Source) > Databases
      summary: Import a Database Connection
      description: >-
        Imports a Database Connection.


        Replace in the URL and on the `Referer` header:


        - `{{WorkspaceSlug}}` with the `name` retrieved through the API (using
        the **Get Workspaces from a Team** endpoint).

        - `{{WorkspaceRegion}}` corresponding to the `region` retrieved from the
        **Get Workspaces from a Team** endpoint. Refer to below table:
            

        | **`region`** | **`WorkspaceRegion`** |

        | --- | --- |

        | us-east-1 | `us2a` |

        | us-west-2 | `us1a` |

        | eu-north-1 | `eu5a` |

        | ap-northeast-1 | `ap1a` |


        Alternatively, access the Workspace through the UI, and get the
        `{{WorkspaceSlug}}` and `{{WorkspaceRegion}}` from the URL ->
        `https://{{WorkspaceSlug}}.{{Region}}.preset.io/superset/welcome/`.


        In the body:


        - Select your Chart ZIP file as a value for the `formData`.

        - For the `passwords` field:
            - Replace `{{DatabaseYAMLFile}}` by the database YAML file name. You can find it in your export file, under the `databases` folder.
            - Replace `{{DatabasePassword}}` by the DB password.
        - For the `overwrite` field:
            - If the DB Connection already exists on the destination Workspace, set it as `true` to overwrite it.
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                formData:
                  type: string
                  format: binary
                passwords:
                  type: string
                  example: '{"databases/{{DatabaseYAMLFile}}": "{{DatabasePassword}}"}'
                overwrite:
                  type: boolean
                  example: 'true'
      parameters:
        - name: Authorization
          in: header
          schema:
            type: string
          example: Bearer {{JWTToken}}
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: Content-Type
          in: header
          schema:
            type: string
          example: multipart/form-data;
        - name: Referer
          in: header
          schema:
            type: string
          example: https://{{WorkspaceSlug}}.{{WorkspaceRegion}}.app.preset.io/
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/dataset/:
    get:
      tags:
        - Superset APIs (Open Source) > Datasets
      summary: Get all Datasets from a Workspace
      description: >-
        Gets all Datasets available on the Worpkspace.


        Replace in the URL:


        - `{{WorkspaceSlug}}` with the `name` retrieved through the API (using
        the **Get Workspaces from a Team** endpoint).

        - `{{WorkspaceRegion}}` corresponding to the `region` retrieved from the
        **Get Workspaces from a Team** endpoint. Refer to below table:
            

        | **`region`** | **`WorkspaceRegion`** |

        | --- | --- |

        | us-east-1 | `us2a` |

        | us-west-2 | `us1a` |

        | eu-north-1 | `eu5a` |

        | ap-northeast-1 | `ap1a` |


        Alternatively, access the Workspace through the UI, and get the
        `{{WorkspaceSlug}}` and `{{WorkspaceRegion}}` from the URL ->
        `https://{{WorkspaceSlug}}.{{Region}}.preset.io/superset/welcome/`.


        Note that this endpoint returns 20 results by default. You can return up
        to 100 results at a time and use pagination by adding the following
        query parameters:


        ```

        ?q=(page_size:{{PageSize}},page:{{Page}})


        ```


        Replace:


        - `{{PageSize}}` with the desired size (min `1` max `100`).

        - `{{Page}}` with the page number (useful when the total count >
        `{{PageSize}}` - min `0`).
      parameters:
        - name: Authorization
          in: header
          schema:
            type: string
          example: Bearer {{JWTToken}}
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/dataset/{DatasetID}:
    get:
      tags:
        - Superset APIs (Open Source) > Datasets
      summary: Get a Dataset
      description: "Get a specific Dataset from a Workspace.\n\nReplace in the URL:\n\n- `{{WorkspaceSlug}}`\_with the\_`name`\_retrieved through the API (using the\_**Get Workspaces from a Team**\_endpoint).\n- `{{WorkspaceRegion}}`\_corresponding to the\_`region`\_retrieved from the\_**Get Workspaces from a Team**\_endpoint. Refer to below table:\n    \n\n| **`region`** | **`WorkspaceRegion`** |\n| --- | --- |\n| us-east-1 | `us2a` |\n| us-west-2 | `us1a` |\n| eu-north-1 | `eu5a` |\n| ap-northeast-1 | `ap1a` |\n\nAlternatively, access the Workspace through the UI, and get the\_`{{WorkspaceSlug}}`\_and\_`{{WorkspaceRegion}}`\_from the URL ->\_`https://{{WorkspaceSlug}}.{{Region}}.preset.io/superset/welcome/`.\n\n- `{{DatasetID}}`\_with the Dataset\_`id`\_retrieved from the\_**Get All Datasets from a Workspace**\_endpoint."
      parameters:
        - name: Authorization
          in: header
          schema:
            type: string
          example: Bearer {{JWTToken}}
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: DatasetID
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    put:
      tags:
        - Superset APIs (Open Source) > Datasets
      summary: Update a Virtual Dataset
      description: >-
        Updates a Virtual Dataset.


        Replace in the URL and on the `Referer` header:


        - `{{WorkspaceSlug}}` with the `name` retrieved through the API (using
        the **Get Workspaces from a Team** endpoint).

        - `{{WorkspaceRegion}}` corresponding to the `region` retrieved from the
        **Get Workspaces from a Team** endpoint. Refer to below table:
            

        | **`region`** | **`WorkspaceRegion`** |

        | --- | --- |

        | us-east-1 | `us2a` |

        | us-west-2 | `us1a` |

        | eu-north-1 | `eu5a` |

        | ap-northeast-1 | `ap1a` |


        Alternatively, access the Workspace through the UI, and get the
        `{{WorkspaceSlug}}` and `{{WorkspaceRegion}}` from the URL ->
        `https://{{WorkspaceSlug}}.{{Region}}.preset.io/superset/welcome/`.


        - `{{DatasetID}}` with the Dataset `id` retrieved from the **Get All
        Datasets from a Workspace** endpoint.
            

        Replace in the body:


        - `{{DBID}}` with the database `id` retrieved using the **Get
        Databases** endoint.

        - `{{SchemaName}}` with the desired schema.

        - `{{TableName}}` with the desired table.

        - `{{DatasetSQL}}` with the SQL query to power your dataset.

        - `{{OwnerID}}` with the `id` for the desired owner account(s) retrieved
        from the **Get all possible Dataset Owners** endpoint. Use a comma to
        separate multiple IDs (for example, `[2,5]`).
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: |-
                {
                    "database_id": {{DBID}},
                    "schema": "{{SchemaName}}",
                    "table_name": "{{TableName}}",
                    "sql": "{{DatasetSQL}}",
                    "owners": [
                        {{OwnerID}}
                    ]
                }
      parameters:
        - name: Authorization
          in: header
          schema:
            type: string
          example: Bearer {{JWTToken}}
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: Referer
          in: header
          schema:
            type: string
          example: https://{{WorkspaceSlug}}.{{WorkspaceRegion}}.app.preset.io/
        - name: DatasetID
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    delete:
      tags:
        - Superset APIs (Open Source) > Datasets
      summary: Delete a Dataset
      description: "Deletes a Dataset.\n\nReplace in the URL:\n\n- `{{WorkspaceSlug}}`\_with the\_`name`\_retrieved through the API (using the\_**Get Workspaces from a Team**\_endpoint).\n- `{{WorkspaceRegion}}`\_corresponding to the\_`region`\_retrieved from the\_**Get Workspaces from a Team**\_endpoint. Refer to below table:\n    \n\n| **`region`** | **`WorkspaceRegion`** |\n| --- | --- |\n| us-east-1 | `us2a` |\n| us-west-2 | `us1a` |\n| eu-north-1 | `eu5a` |\n| ap-northeast-1 | `ap1a` |\n\nAlternatively, access the Workspace through the UI, and get the\_`{{WorkspaceSlug}}`\_and\_`{{WorkspaceRegion}}`\_from the URL ->\_`https://{{WorkspaceSlug}}.{{Region}}.preset.io/superset/welcome/`.\n\n- `{{DatasetID}}` with the Dataset\_`id`\_retrieved from the\_**Get All Datasets from a Workspace**\_endpoint."
      parameters:
        - name: Authorization
          in: header
          schema:
            type: string
          example: Bearer {{JWTToken}}
        - name: DatasetID
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/dataset/related/owners:
    get:
      tags:
        - Superset APIs (Open Source) > Datasets
      summary: Get all possible Dataset Owners
      description: >-
        Gets all possible Dataset owners on the Workspace.


        Replace in the URL:


        - `{{WorkspaceSlug}}` with the `name` retrieved through the API (using
        the **Get Workspaces from a Team** endpoint).

        - `{{WorkspaceRegion}}` corresponding to the `region` retrieved from the
        **Get Workspaces from a Team** endpoint. Refer to below table:
            

        | **`region`** | **`WorkspaceRegion`** |

        | --- | --- |

        | us-east-1 | `us2a` |

        | us-west-2 | `us1a` |

        | eu-north-1 | `eu5a` |

        | ap-northeast-1 | `ap1a` |


        Alternatively, access the Workspace through the UI, and get the
        `{{WorkspaceSlug}}` and `{{WorkspaceRegion}}` from the URL ->
        `https://{{WorkspaceSlug}}.{{Region}}.preset.io/superset/welcome/`.


        Note that this endpoint returns 20 results by default. You can return up
        to 100 results at a time and use pagination by adding the following
        query parameters:


        ```

        ?q=(page_size:{{PageSize}},page:{{Page}})


        ```


        Replace:


        - `{{PageSize}}` with the desired size (min `1` max `100`).

        - `{{Page}}` with the page number (useful when the total count >
        `{{PageSize}}` - min `0`).
      parameters:
        - name: Authorization
          in: header
          schema:
            type: string
          example: Bearer {{JWTToken}}
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/dataset:
    post:
      tags:
        - Superset APIs (Open Source) > Datasets
      summary: Create a Virtual Dataset
      description: >-
        Creates a new Virtual Dataset.


        Replace in the URL:


        - `{{WorkspaceSlug}}` with the `name` retrieved through the API (using
        the **Get Workspaces from a Team** endpoint).

        - `{{WorkspaceRegion}}` corresponding to the `region` retrieved from the
        **Get Workspaces from a Team** endpoint. Refer to below table:
            

        | **`region`** | **`WorkspaceRegion`** |

        | --- | --- |

        | us-east-1 | `us2a` |

        | us-west-2 | `us1a` |

        | eu-north-1 | `eu5a` |

        | ap-northeast-1 | `ap1a` |


        Alternatively, access the Workspace through the UI, and get the
        `{{WorkspaceSlug}}` and `{{WorkspaceRegion}}` from the URL ->
        `https://{{WorkspaceSlug}}.{{Region}}.preset.io/superset/welcome/`.


        Replace in the body:


        - `{{DBID}}` with the database `id` retrieved using the **Get
        Databases** endoint.

        - `{{SchemaName}}` with the desired schema.

        - `{{TableName}}` with the desired table.

        - `{{DatasetSQL}}` with the SQL query to power your dataset.

        - `{{OwnerID}}` with the `id` for the desired owner account(s) retrieved
        from the **Get all possible Dataset Owners** endpoint. Use a comma to
        separate multiple IDs (for example, `[2,5]`).
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: "{\r\n    \"database\": {{DBID}},\r\n    \"schema\": \"{{SchemaName}}\",\r\n    \"table_name\": \"{{TableName}}\",\r\n    \"sql\": \"{{DatasetSQL}}\",\r\n    \"owners\": [\r\n        {{OwnerID}}\r\n    ]\r\n}"
      parameters:
        - name: Authorization
          in: header
          schema:
            type: string
          example: Bearer {{JWTToken}}
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/dataset/{DatasetID}/refresh:
    put:
      tags:
        - Superset APIs (Open Source) > Datasets
      summary: Refresh a Dataset
      description: >-
        Refreshes and updates columns of a Dataset.


        Replace in the URL and on the `Referer` header:


        - `{{WorkspaceSlug}}` with the `name` retrieved through the API (using
        the **Get Workspaces from a Team** endpoint).

        - `{{WorkspaceRegion}}` corresponding to the `region` retrieved from the
        **Get Workspaces from a Team** endpoint. Refer to below table:
            

        | **`region`** | **`WorkspaceRegion`** |

        | --- | --- |

        | us-east-1 | `us2a` |

        | us-west-2 | `us1a` |

        | eu-north-1 | `eu5a` |

        | ap-northeast-1 | `ap1a` |


        Alternatively, access the Workspace through the UI, and get the
        `{{WorkspaceSlug}}` and `{{WorkspaceRegion}}` from the URL ->
        `https://{{WorkspaceSlug}}.{{Region}}.preset.io/superset/welcome/`.


        - `{{DatasetID}}` with the Dataset `id` retrieved from the **Get All
        Datasets from a Workspace** endpoint.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: ''
      parameters:
        - name: Authorization
          in: header
          schema:
            type: string
          example: Bearer {{JWTToken}}
        - name: Referer
          in: header
          schema:
            type: string
          example: https://{{WorkspaceSlug}}.{{WorkspaceRegion}}.app.preset.io/
        - name: DatasetID
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/dataset/export:
    get:
      tags:
        - Superset APIs (Open Source) > Datasets
      summary: Export Datasets
      description: >-
        Exports Datasets from the Workspace.


        Replace in the URL:


        - `{{WorkspaceSlug}}` with the `name` retrieved through the API (using
        the **Get Workspaces from a Team** endpoint).

        - `{{WorkspaceRegion}}` corresponding to the `region` retrieved from the
        **Get Workspaces from a Team** endpoint. Refer to below table:
            

        | **`region`** | **`WorkspaceRegion`** |

        | --- | --- |

        | us-east-1 | `us2a` |

        | us-west-2 | `us1a` |

        | eu-north-1 | `eu5a` |

        | ap-northeast-1 | `ap1a` |


        Alternatively, access the Workspace through the UI, and get the
        `{{WorkspaceSlug}}` and `{{WorkspaceRegion}}` from the URL ->
        `https://{{WorkspaceSlug}}.{{Region}}.preset.io/superset/welcome/`.


        - `{{DatasetIDs}}` with comma separated `ids` retrieved from the **Get
        all Datasets from a Workspace** endpoint.
            

        _**Tip:**_ If used in Postman, select `Save Response` and `Save to a
        File` to get the zip export.
      parameters:
        - name: Authorization
          in: header
          schema:
            type: string
          example: '{{JWTToken}}'
        - name: Accept
          in: header
          schema:
            type: string
          example: application/zip
        - name: q
          in: query
          schema:
            type: string
          description: Comma separated list of Dataset IDs.
          example: '!({{DatasetIDs}})'
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/dataset/import/:
    post:
      tags:
        - Superset APIs (Open Source) > Datasets
      summary: Import a Dataset
      description: >-
        Imports a Dataset.


        Replace in the URL and on the `Referer` header:


        - `{{WorkspaceSlug}}` with the `name` retrieved through the API (using
        the **Get Workspaces from a Team** endpoint).

        - `{{WorkspaceRegion}}` corresponding to the `region` retrieved from the
        **Get Workspaces from a Team** endpoint. Refer to below table:
            

        | **`region`** | **`WorkspaceRegion`** |

        | --- | --- |

        | us-east-1 | `us2a` |

        | us-west-2 | `us1a` |

        | eu-north-1 | `eu5a` |

        | ap-northeast-1 | `ap1a` |


        Alternatively, access the Workspace through the UI, and get the
        `{{WorkspaceSlug}}` and `{{WorkspaceRegion}}` from the URL ->
        `https://{{WorkspaceSlug}}.{{Region}}.preset.io/superset/welcome/`.


        In the body:


        - Select your Dataset ZIP file as a value for the `formData`.

        - For the `passwords` field:
            - Replace `{{DatabaseYAMLFile}}` by the database YAML file name. You can find it in your export file, under the `databases` folder.
            - Replace `{{DatabasePassword}}` by the DB password.
        - For the `overwrite` field:
            - If the DB Connection already exists on the destination Workspace, set it as `true` to overwrite it.
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                formData:
                  type: string
                  format: binary
                passwords:
                  type: string
                  example: '{"databases/{{DatabaseYAMLFile}}": "{{DatabasePassword}}"}'
                overwrite:
                  type: boolean
                  example: 'true'
      parameters:
        - name: Authorization
          in: header
          schema:
            type: string
          example: Bearer {{JWTToken}}
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: Content-Type
          in: header
          schema:
            type: string
          example: multipart/form-data;
        - name: Referer
          in: header
          schema:
            type: string
          example: https://{{WorkspaceSlug}}.{{WorkspaceRegion}}.app.preset.io/
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/chart/:
    get:
      tags:
        - Superset APIs (Open Source) > Charts
      summary: Get all Charts from a Workspace
      description: >-
        Gets all Charts from a Workspace.


        Replace in the URL:


        - `{{WorkspaceSlug}}` with the `name` retrieved through the API (using
        the **Get Workspaces from a Team** endpoint).

        - `{{WorkspaceRegion}}` corresponding to the `region` retrieved from the
        **Get Workspaces from a Team** endpoint. Refer to below table:
            

        | **`region`** | **`WorkspaceRegion`** |

        | --- | --- |

        | us-east-1 | `us2a` |

        | us-west-2 | `us1a` |

        | eu-north-1 | `eu5a` |

        | ap-northeast-1 | `ap1a` |


        Alternatively, access the Workspace through the UI, and get the
        `{{WorkspaceSlug}}` and `{{WorkspaceRegion}}` from the URL ->
        `https://{{WorkspaceSlug}}.{{Region}}.preset.io/superset/welcome/`.


        Note that this endpoint returns 20 results by default. You can return up
        to 100 results at a time and use pagination by adding the following
        query parameters:


        ```

        ?q=(page_size:{{PageSize}},page:{{Page}})


        ```


        Replace:


        - `{{PageSize}}` with the desired size (min `1` max `100`).

        - `{{Page}}` with the page number (useful when the total count >
        `{{PageSize}}` - min `0`).
      parameters:
        - name: Authorization
          in: header
          schema:
            type: string
          example: Bearer {{JWTToken}}
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/chart/{ChartID}:
    get:
      tags:
        - Superset APIs (Open Source) > Charts
      summary: Get a Chart
      description: >-
        Gets a specific Chart from a Workspace.


        Replace in the URL:


        - `{{WorkspaceSlug}}` with the `name` retrieved through the API (using
        the **Get Workspaces from a Team** endpoint).

        - `{{WorkspaceRegion}}` corresponding to the `region` retrieved from the
        **Get Workspaces from a Team** endpoint. Refer to below table:
            

        | **`region`** | **`WorkspaceRegion`** |

        | --- | --- |

        | us-east-1 | `us2a` |

        | us-west-2 | `us1a` |

        | eu-north-1 | `eu5a` |

        | ap-northeast-1 | `ap1a` |


        Alternatively, access the Workspace through the UI, and get the
        `{{WorkspaceSlug}}` and `{{WorkspaceRegion}}` from the URL ->
        `https://{{WorkspaceSlug}}.{{Region}}.preset.io/superset/welcome/`.


        - `{{ChartID}}` with the chart `id` retrieved from the  
            **Get all Charts from a Workspace** endpoint.
      parameters:
        - name: Authorization
          in: header
          schema:
            type: string
          example: Bearer {{JWTToken}}
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: ChartID
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    put:
      tags:
        - Superset APIs (Open Source) > Charts
      summary: Update a Chart
      description: >-
        Updates a Chart via the API.


        Replace in the URL and on the `Referer` header:


        - `{{WorkspaceSlug}}` with the `name` retrieved through the API (using
        the **Get Workspaces from a Team** endpoint).

        - `{{WorkspaceRegion}}` corresponding to the `region` retrieved from the
        **Get Workspaces from a Team** endpoint. Refer to below table:
            

        | **`region`** | **`WorkspaceRegion`** |

        | --- | --- |

        | us-east-1 | `us2a` |

        | us-west-2 | `us1a` |

        | eu-north-1 | `eu5a` |

        | ap-northeast-1 | `ap1a` |


        Alternatively, access the Workspace through the UI, and get the
        `{{WorkspaceSlug}}` and `{{WorkspaceRegion}}` from the URL ->
        `https://{{WorkspaceSlug}}.{{Region}}.preset.io/superset/welcome/`.


        - `{{ChartID}}` with the chart `id` retrieved from the  
            **Get all Charts from a Workspace** endpoint.
            

        Replace in the body:


        - `cache_timeout` (optional) by the chart timeout in seconds.

        - `certification_details` (optional) by the details of certification.

        - `certified_by` (optional) by the certifier.

        - `dashboards` by a comma separated list (csl) of dashboard ids the
        chart should be added to (can be empty).

        - `description` (optional) by your description.

        - `is_managed_externally` by true or false.

        - `owners` by a csl of owner ids.

        - `params` by a string of all parameters need to define your chart. You
        can get an example of this either by checking the network tab by
        creating a chart in the UI or by calling the **Get a Chart** endpoint.

        - `slice_name` by the name you want to give to your chart.

        - `viz_type` by the visualization type. You can find this with the **Get
        a Chart** endpoint for a similar chart.

        - `datasource_id` by the id of the dataset powering your chart.

        - `datasource_type` by the type of the underlying dataset.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                cache_timeout: null
                certification_details: null
                certified_by: null
                dashboards:
                  - 8
                description: null
                is_managed_externally: false
                owners: []
                params: >-
                  {"adhoc_filters": [], "color_scheme": "supersetColors",
                  "datasource": "21__table", "granularity_sqla": "year",
                  "groupby": ["platform"], "label_colors": {"2600": "#D1C6BC",
                  "3DO": "#A38F79", "3DS": "#B2B2B2", "Action": "#ACE1C4",
                  "Adventure": "#5AC189", "COUNT(*)": "#1FA8C9", "DC":
                  "#666666", "DS": "#E04355", "Fighting": "#D1C6BC", "GB":
                  "#A1A6BD", "GBA": "#A868B7", "GC": "#D3B3DA", "GEN":
                  "#FF7F44", "GG": "#8FD3E4", "Microsoft Game Studios":
                  "#FCC700", "Misc": "#D3B3DA", "N64": "#EFA1AA", "NES":
                  "#FEC0A1", "NG": "#FCC700", "Nintendo": "#666666", "PC":
                  "#8FD3E4", "PCFX": "#A1A6BD", "PS": "#FCC700", "PS2":
                  "#454E7C", "PS3": "#FF7F44", "PS4": "#A38F79", "PSP":
                  "#3CCCCB", "PSV": "#454E7C", "Platform": "#FDE380", "Puzzle":
                  "#454E7C", "Racing": "#9EE5E5", "Role-Playing": "#EFA1AA",
                  "SAT": "#5AC189", "SCD": "#E04355", "SNES": "#FDE380",
                  "Shooter": "#B2B2B2", "Simulation": "#1FA8C9", "Sports":
                  "#FEC0A1", "Strategy": "#FF7F44", "TG16": "#3CCCCB", "Take-Two
                  Interactive": "#E04355", "WS": "#A868B7", "Wii": "#666666",
                  "WiiU": "#1FA8C9", "X360": "#5AC189", "XB": "#ACE1C4", "XOne":
                  "#9EE5E5"}, "metrics": ["count"], "number_format":
                  "SMART_NUMBER", "queryFields": {"groupby": "groupby",
                  "metrics": "metrics"}, "row_limit": 10, "slice_id": 661,
                  "time_range": "No filter", "time_range_endpoints":
                  ["inclusive", "exclusive"], "treemap_ratio":
                  1.618033988749895, "url_params": {}, "viz_type": "treemap"}
                query_context: null
                slice_name: Test API Altered Created Chart
                viz_type: treemap
                datasource_id: 2
                datasource_type: table
      parameters:
        - name: Authorization
          in: header
          schema:
            type: string
          example: Bearer {{JWTToken}}
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: Referer
          in: header
          schema:
            type: string
          example: https://{{WorkspaceSlug}}.{{WorkspaceRegion}}.app.preset.io/
        - name: ChartID
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    delete:
      tags:
        - Superset APIs (Open Source) > Charts
      summary: Delete a Chart
      description: >-
        Deletes a Chart.


        Replace in the URL and on the `Referer` header:


        - `{{WorkspaceSlug}}` with the `name` retrieved through the API (using
        the **Get Workspaces from a Team** endpoint).

        - `{{WorkspaceRegion}}` corresponding to the `region` retrieved from the
        **Get Workspaces from a Team** endpoint. Refer to below table:
            

        | **`region`** | **`WorkspaceRegion`** |

        | --- | --- |

        | us-east-1 | `us2a` |

        | us-west-2 | `us1a` |

        | eu-north-1 | `eu5a` |

        | ap-northeast-1 | `ap1a` |


        Alternatively, access the Workspace through the UI, and get the
        `{{WorkspaceSlug}}` and `{{WorkspaceRegion}}` from the URL ->
        `https://{{WorkspaceSlug}}.{{Region}}.preset.io/superset/welcome/`.


        - `{{ChartID}}` with the chart `id` retrieved from the **Get all Charts
        from a Workspace** endpoint.
      parameters:
        - name: Authorization
          in: header
          schema:
            type: string
          example: Bearer {{JWTToken}}
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: Referer
          in: header
          schema:
            type: string
          example: https://{{WorkspaceSlug}}.{{WorkspaceRegion}}.app.preset.io/
        - name: ChartID
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/chart/{ChartID}/data:
    get:
      tags:
        - Superset APIs (Open Source) > Charts
      summary: Get Chart's Data
      description: >-
        Gets Chart's data from a Workspace.


        Replace in the URL:


        - `{{WorkspaceSlug}}` with the `name` retrieved through the API (using
        the **Get Workspaces from a Team** endpoint).

        - `{{WorkspaceRegion}}` corresponding to the `region` retrieved from the
        **Get Workspaces from a Team** endpoint. Refer to below table:
            

        | **`region`** | **`WorkspaceRegion`** |

        | --- | --- |

        | us-east-1 | `us2a` |

        | us-west-2 | `us1a` |

        | eu-north-1 | `eu5a` |

        | ap-northeast-1 | `ap1a` |


        Alternatively, access the Workspace through the UI, and get the
        `{{WorkspaceSlug}}` and `{{WorkspaceRegion}}` from the URL ->
        `https://{{WorkspaceSlug}}.{{Region}}.preset.io/superset/welcome/`.


        - `{{ChartID}}` with the chart `id` retrieved from the **Get all Charts
        from a Workspace** endpoint.
      parameters:
        - name: ChartID
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/chart/related/owners:
    get:
      tags:
        - Superset APIs (Open Source) > Charts
      summary: Get all possible Chart Owners
      description: "Gets all possible Chart owners on the Workspace.\n\nReplace in the URL:\n\n- `{{WorkspaceSlug}}` with the `name` retrieved through the API (using the **Get Workspaces from a Team** endpoint).\n- `{{WorkspaceRegion}}` corresponding to the `region` retrieved from the **Get Workspaces from a Team** endpoint. Refer to below table:\n    \n\n| **`region`** | **`WorkspaceRegion`** |\n| --- | --- |\n| us-east-1 | `us2a` |\n| us-west-2 | `us1a` |\n| eu-north-1 | `eu5a` |\n| ap-northeast-1 | `ap1a` |\n\nAlternatively, access the Workspace through the UI, and get the `{{WorkspaceSlug}}` and `{{WorkspaceRegion}}` from the URL -> `https://{{WorkspaceSlug}}.{{Region}}.preset.io/superset/welcome/`.\n\nNote that this endpoint returns 20 results by default. You can return up to 100 results at a time and use pagination by adding the following query parameters:\n\n```\n?q=(page_size:{{PageSize}},page:{{Page}})\n\n```\n\nReplace:\n\n- `{{PageSize}}`\_with the desired size (min\_`1`\_max\_`100`).\n- `{{Page}}`\_with the page number (useful when the total count\_>\_`{{PageSize}}`\_- min\_`0`)."
      parameters:
        - name: Authorization
          in: header
          schema:
            type: string
          example: Bearer {{JWTToken}}
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/chart:
    post:
      tags:
        - Superset APIs (Open Source) > Charts
      summary: Create a Chart
      description: >-
        Creates a Chart through the API.


        Replace in the URL:


        *   `{{WorkspaceSlug}}` with the `name` retrieved through the API (using
        the **Get Workspaces from a Team** endpoint).

        *   `{{WorkspaceRegion}}` corresponding to the `region` retrieved from
        the **Get Workspaces from a Team** endpoint. Refer to below table:
            

        | **`region`** | **`WorkspaceRegion`** |

        | --- | --- |

        | us-east-1 | `us2a` |

        | us-west-2 | `us1a` |

        | eu-north-1 | `eu5a` |

        | ap-northeast-1 | `ap1a` |


        Alternatively, access the Workspace through the UI, and get the
        `{{WorkspaceSlug}}` and `{{WorkspaceRegion}}` from the URL ->
        `https://{{WorkspaceSlug}}.{{Region}}.preset.io/superset/welcome/`.


        Replace in the body:


        *   `cache_timeout` (optional) by the chart timeout in seconds.

        *   `certification_details` (optional) by the details of certification.

        *   `certified_by` (optional) by the certifier.

        *   `dashboards` by a comma separated list (csl) of dashboard ids the
        chart should be added to (can be empty).

        *   `description` (optional) by your description.

        *   `is_managed_externally` by true or false.

        *   `owners` by a csl of owner ids.

        *   `params` by a string of all parameters need to define your chart.
        You can get an example of this either by checking the network tab by
        creating a chart in the UI or by calling the **Get a Chart** endpoint.

        *   `slice_name` by the name you want to give to your chart.

        *   `viz_type` by the visualization type. You can find this with the
        **Get a Chart** endpoint for a similar chart.

        *   `datasource_id` by the id of the dataset powering your chart.

        *   `datasource_type` by the type of the underlying dataset.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                cache_timeout: null
                certification_details: null
                certified_by: null
                dashboards:
                  - 8
                description: null
                is_managed_externally: false
                owners: []
                params: >-
                  {"adhoc_filters": [], "color_scheme": "supersetColors",
                  "datasource": "21__table", "granularity_sqla": "year",
                  "groupby": ["platform"], "label_colors": {"2600": "#D1C6BC",
                  "3DO": "#A38F79", "3DS": "#B2B2B2", "Action": "#ACE1C4",
                  "Adventure": "#5AC189", "COUNT(*)": "#1FA8C9", "DC":
                  "#666666", "DS": "#E04355", "Fighting": "#D1C6BC", "GB":
                  "#A1A6BD", "GBA": "#A868B7", "GC": "#D3B3DA", "GEN":
                  "#FF7F44", "GG": "#8FD3E4", "Microsoft Game Studios":
                  "#FCC700", "Misc": "#D3B3DA", "N64": "#EFA1AA", "NES":
                  "#FEC0A1", "NG": "#FCC700", "Nintendo": "#666666", "PC":
                  "#8FD3E4", "PCFX": "#A1A6BD", "PS": "#FCC700", "PS2":
                  "#454E7C", "PS3": "#FF7F44", "PS4": "#A38F79", "PSP":
                  "#3CCCCB", "PSV": "#454E7C", "Platform": "#FDE380", "Puzzle":
                  "#454E7C", "Racing": "#9EE5E5", "Role-Playing": "#EFA1AA",
                  "SAT": "#5AC189", "SCD": "#E04355", "SNES": "#FDE380",
                  "Shooter": "#B2B2B2", "Simulation": "#1FA8C9", "Sports":
                  "#FEC0A1", "Strategy": "#FF7F44", "TG16": "#3CCCCB", "Take-Two
                  Interactive": "#E04355", "WS": "#A868B7", "Wii": "#666666",
                  "WiiU": "#1FA8C9", "X360": "#5AC189", "XB": "#ACE1C4", "XOne":
                  "#9EE5E5"}, "metrics": ["count"], "number_format":
                  "SMART_NUMBER", "queryFields": {"groupby": "groupby",
                  "metrics": "metrics"}, "row_limit": 10, "slice_id": 661,
                  "time_range": "No filter", "time_range_endpoints":
                  ["inclusive", "exclusive"], "treemap_ratio":
                  1.618033988749895, "url_params": {}, "viz_type": "treemap"}
                query_context: null
                slice_name: Test API Created Chart 2
                viz_type: treemap
                datasource_id: 2
                datasource_type: table
      parameters:
        - name: Authorization
          in: header
          schema:
            type: string
          example: Bearer {{JWTToken}}
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/chart/data:
    post:
      tags:
        - Superset APIs (Open Source) > Charts
[...]
